.add-to-cart-form {
}
.add-to-cart-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}
.add-to-cart-form__legend {
  display: block;
  padding: 0;
  margin: 0 auto 28px;
}
.add-to-cart-form__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.add-to-cart-form__option {
  margin-right: 7px;
}
.add-to-cart-form__option:last-child,
.add-to-cart-form__option--last {
  margin-right: 0;
}
.add-to-cart-form__field {

}
.add-to-cart-form__label {
  display: inline-block;
  font-size: @font-size-big;
  line-height: 17px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  width: 82px;
  border: 2px solid @grey-light;
  padding: 15px 5px;
  cursor: pointer;
}
.add-to-cart-form__label:hover,
.add-to-cart-form__label:focus {
  border: 2px solid @grey-ish;
}
.add-to-cart-form__field:checked+.add-to-cart-form__label,
.add-to-cart-form__label:active {
  border: 2px solid @medium-aquamarine-lighter;
}
.add-to-cart-form__field--radio {

}
.add-to-cart-form__button {
  width: 100%;
  background-color: @medium-aquamarine;
  color: @white;
  border: 2px solid @medium-aquamarine;
}
