.catalog {
  padding-left: @page-bleed;
  padding-right: @page-bleed;
  margin-bottom: 30px;
}
.catalog__wrapper {

}
.catalog__title {
  background-color: @grey-lighter;
  font-size: @h1-size;
  color: @headings-color;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 73px;
  margin: 0;
  margin-left: -(@page-bleed);
  margin-right: -(@page-bleed);
  margin-bottom: 30px;
}
.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.catalog__item {
  margin-bottom: 30px;
}
.catalog__item:hover,
.catalog__item:focus {
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.1);
}
.catalog__item:active {
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
}
