.contacts {
  background: url("../img/zigzag-line.svg") center top repeat-x;
  background-size: auto 6px;
  padding-left: @page-bleed;
  padding-right: @page-bleed;
  margin-bottom: 39px;
}

.contacts__wrapper {
  padding-top: 41px;
}

.contacts__title {
  font-size: 18px;
  color: @headings-color;
  font-weight: @headings-font-weight;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.contacts__details {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
}

.contacts__detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__detail-label {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30%;
  padding: 0;
  padding-bottom: 30px;
  margin: 0;
}

.contacts__detail-value {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 70%;
  padding: 0;
  padding-bottom: 30px;
  margin: 0;
}

.contacts__email {
  color: @grey;
  border-bottom: 1px solid @puerto-rico;
}

.contacts__email:hover,
.contacts__email:focus {
  color: @puerto-rico;
}

.contacts__email:active {
  opacity: 0.3;
}

.contacts__map {
  min-height: 200px;
  margin: 0;
  margin-left: -(@page-bleed);
  margin-right: -(@page-bleed);
  margin-bottom: 42px;
}

.contacts__map-embed {
  display: block;
  height: 457px;
}

.contacts__map-embed--nojs {
  display: none;
}

.contacts__map-link {
  position: relative;
  display: none;
}

.contacts__map-link--nojs {
  display: block;
}

.contacts__map-image {
  display: block;
  width: 100%;
}

.contacts__map-pin {
  display: block;
  position: absolute;
  top: 31.729%;
  left: 43.125%;
}

.contacts__map-pin-image {
  display: block;
}

.contacts__button {
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .contacts {
    background: url("../img/zigzag-line.svg") center top repeat-x;
    background-size: auto 17px;
    padding-left: @page-bleed-tablet;
    padding-right: @page-bleed-tablet;
    margin-bottom: 57px;
  }

  .contacts__wrapper {
    padding-top: 68px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__title {
    background: transparent url("../img/icon-flag.svg") right 3px top -4px no-repeat;
    background-size: 47px 81px;
    min-height: 81px;
    font-size: @h2-size-tablet;
    line-height: 70px;
    color: @black;
    margin-bottom: 29px;
  }

  .contacts__details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;
  }

  .contacts__detail {
    flex-basis: 50%;
  }

  .contacts__detail-label {
    flex-basis: auto;
    max-width: 100%;
    margin-right: 26px;
  }

  .contacts__detail-value {
    flex-grow: 1;
    flex-basis: auto;
    max-width: 100%;
  }

  .contacts__map {
    margin-left: -(@page-bleed-tablet);
    margin-right: -(@page-bleed-tablet);
    margin-bottom: 55px;
  }

  .contacts__map-pin {
    top: 30.729%;
    left: 47.125%;
  }

  .contacts__button {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    background: none;
    padding-left: @page-bleed-desktop;
    padding-right: @page-bleed-desktop;
    margin-bottom: 105px;
  }

  .contacts__title {
    background-position: 63px center;
    font-size: @h2-size-desktop;
    line-height: 75px;
    padding-left: 175px;
    margin-bottom: 33px;
  }

  .contacts__wrapper {
    background: url("../img/zigzag-line.svg") center top repeat-x;
    background-size: auto 23px;
    padding-top: 93px;
    position: relative;
    display: flex;
  }

  .contacts__holder {
    width: 50%;
    flex-basis: 50%;
    padding-top: 62px;
    padding-right: 30px;
  }

  .contacts__map {
    width: 50%;
    flex-basis: 50%;
    margin: 0;
  }

  .contacts__map-pin {
    top: 31.729%;
    left: 45.125%;
  }

  .contacts__details {
    display: block;
    padding-left: 175px;
  }

  .contacts__button {
    position: absolute;
    left: 175px;
    bottom: 0;
  }
}
