.copyright__link {
  display: inline-block;
  fill: #63d1bb;
}

.copyright__link:hover,
.copyright__link:focus {
  fill: @link-color-hover;
}

.copyright__link:active {
  fill: @link-color-hover;
  opacity: 0.3;
}

.copyright__text {
  font-size: 19px;
  color: @black;
  font-weight: 700;
}

.copyright__text,
.copyright__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
}

@media (min-width: @tablet-width) {
  .copyright__text {
    margin-left: 0;
  }

  .copyright__icon {
    margin-right: 0;
  }
}
