.copyright__link {
  display: inline-block;
}

.copyright__link:hover path,
.copyright__link:focus path {
  fill: @puerto-rico;
}

.copyright__link:active path {
  fill: @puerto-rico;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__text {
  font-size: 19px;
  color: @black;
  font-weight: 700;
}

.copyright__text,
.copyright__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
}

.copyright__icon svg {
  display: block;
}

@media (min-width: @tablet-width) {
  .copyright__text {
    margin-left: 0;
  }

  .copyright__icon {
    margin-right: 0;
  }
}
