.featured-product {
  padding-left: @page-bleed;
  padding-right: @page-bleed;
  margin-bottom: 36px;
}

.featured-product__title {
  font-size: @h2-size;
  color: @headings-color;
  font-weight: @headings-font-weight;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}

.featured-product__flag {
  font-size: @font-size-big;
  color: @medium-aquamarine;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;
}

.featured-product__description {
  line-height: @line-height-small;
  margin: 0;
  margin-bottom: 21px;
}

.featured-product__properties {
  width: 100%;
  border-collapse: collapse;
  line-height: 20px;
  margin-bottom: 28px;
}

.featured-product__property,
.featured-product__value {
  border-bottom: 1px solid @grey-light;
  padding-top: 10px;
  padding-bottom: 9px;
}

.featured-product__property {
  width: 38.46%;
}

.featured-product__image-holder {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.featured-product__image {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.featured-product__price {
  font-size: @font-size-big;
  text-align: center;
  line-height: @line-height-small;
  font-weight: 700;
  margin: 0;
  margin-bottom: 27px;
}

.featured-product__button {
  width: 100%;
}
