.hero {
  background: url('../img/hero-mobile@1x.jpg') center top -17px no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
.hero__wrapper {
/*  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex-direction: column;*/
  padding-top: 71px;
}
.hero__title {
  font-size: @h1-size;
  color: @headings-color;
  font-weight: @headings-font-weight;
  text-align: center;
  padding: 0;
  padding-left: @page-bleed;
  padding-right: @page-bleed;
  margin: 0;
  margin-bottom: 30px;
}
.hero__categories {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hero__category {
  background-color: @medium-aquamarine;
}
.hero__category:nth-child(2n) {
  background-color: @medium-aquamarine-darker;
}
.hero__category-link {
  display: block;
  font-size: 19px;
  color: @white;
  line-height: 24px;
  font-weight: 700;
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: @page-bleed;
  padding-right: @page-bleed;
}
.hero__category-link--interior:hover {
  background-color: @medium-aquamarine-shade;
  /*padding-top: 28px + 5px;*/
}
.hero__category-link--toy:hover {
  background-color: @medium-aquamarine-darker-shade;
  /*padding-top: 28px + 5px;*/
}
.hero__category-link--interior {
  background-image: url('../img/icon-interior.svg');
  background-position: right 36px center;
  background-repeat: no-repeat;
}
.hero__category-link--toy {
  background-image: url('../img/icon-toy.svg');
  background-position: right 27px center;
  background-repeat: no-repeat;
}
.hero__category-link-text {
  display: inline-block;
  max-width: 130px;
}
