.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1010;
  background-color: rgba(255, 255, 255, 0.9);
}

.modal__box {
  position: relative;
  width: 568px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
  transform: translateY(50%);
}

.modal--show {
  display: block;
}

.modal__box--add-to-cart {
  background-color: @white;
  border-top: 1px solid @grey-ish;
  border-bottom: 1px solid @grey-ish;
  padding: 30px 30px 46px;
}

.modal__title {
  font-size: @h2-size;
  color: @headings-color;
  font-weight: @headings-font-weight;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 13px;
}

.modal__close:hover,
.modal__close:focus {
  opacity: 0.8;
}

@media (min-width: 568px) {
  .modal__box {
    left: 50%;
    margin-left: -(568px / 2);
  }

  .modal__box--add-to-cart {
    border: 1px solid @grey-ish;
    padding: 45px 108px 46px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 33px;
    letter-spacing: -0.3px;
    margin-bottom: 26px;
    margin-left: -5px;
    margin-right: -5px;
  }
}
