.page-footer {
  background-color: @grey-lighter;
}
.page-footer__wrapper {
  padding-top: 25px;
  padding-left: @page-bleed;
  padding-right: @page-bleed;
  padding-bottom: 23px;
}
.page-footer__social {
  border-bottom: 1px solid @grey-whisper;
  padding: 0;
  padding-bottom: 29px;
  margin-bottom: 22px;
}
.page-footer__copyright {
  text-align: center;
}
