.product {

}
.product__link {
  display: block;
}
.product__info {
  border: 1px solid @grey-whisper-alt;
  padding: 28px;
}
.product__image {
  display: block;
  width: 100%;
}
.product__title {
  margin: 0;
  margin-bottom: 15px;
}
.product__title,
.product__title-link {
  font-size: @h3-size;
  color: @headings-color;
  line-height: @line-height-small;
}
.product__title-link:hover,
.product__title-link:focus {
  opacity: 0.6;
}
.product__title-link:active {
  opacity: 0.3;
}
.product__properties {
  font-size: @font-size-small;
  border-bottom: 1px solid @grey-light;
  padding-bottom: 26px;
  margin: 0;
  margin-bottom: 26px;
}
.product__property {

}
.product__value {

}
.product__shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product__price {
  line-height: @line-height-small;
  font-weight: 700;
  margin: 0;
}
.product__add-to-cart {
  margin: 0;
}
.product__add-to-cart:hover path {
  fill: @medium-aquamarine;
}
.product__add-to-cart:active {
  opacity: 0.3;
}
