.product__link {
  display: block;
}

.product__info {
  border: 1px solid @grey-whisper-alt;
  padding: 28px 28px 26px;
}

.product__image {
  display: block;
  width: 100%;
}

.product__title {
  margin: 0;
  margin-bottom: 15px;
}

.product__title,
.product__title-link {
  font-size: @h3-size;
  color: @headings-color;
  font-weight: @headings-font-weight;
  line-height: @line-height-small;
}

.product__title-link:hover,
.product__title-link:focus {
  opacity: 0.6;
}

.product__title-link:active {
  opacity: 0.3;
}

.product__properties {
  font-size: @font-size-small;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.product__shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid @grey-light;
  padding-top: 26px;
}

.product__price {
  color: @black;
  line-height: @line-height-small;
  font-weight: 700;
  margin: 0;
}

.product__add-to-cart {
  margin: 0;
}

.product__add-to-cart svg {
  display: block;
}

.product__add-to-cart:hover path {
  fill: @medium-aquamarine;
}

.product__add-to-cart:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .product__link {
    flex-basis: 49.85%;
    flex-shrink: 0;
    height: auto;
  }

  .product__info {
    flex-basis: 50.15%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid @grey-light;
  }

  .product__shop {
    margin: 0;
    margin-top: auto;
  }

  .product__title,
  .product__title-link {
    font-size: @h3-size-tablet;
  }

  .product__properties {
    font-size: @font-size-small-tablet;
  }
}

@media (min-width: @tablet-width) {
  .product__link {
    flex-basis: auto;
  }

  .product__info {
    flex-basis: auto;
  }
}
