.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.social__item {
  margin: 0 20px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 28px;
}

.social__link:hover path,
.social__link:focus path {
  fill: @puerto-rico;
}

.social__link:active path {
  fill: @puerto-rico;
  opacity: 0.3;
}
