.testimonials {
  padding-left: @page-bleed;
  padding-right: @page-bleed;
  margin-bottom: 45px;
}

.testimonials__title {
  font-size: @h2-size;
  color: @headings-color;
  font-weight: @headings-font-weight;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.testimonials__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.testimonials__text {
  margin: 0;
  margin-bottom: 25px;
}

.testimonials__author {
  display: block;
  font-size: @font-size-big;
  font-style: normal;
  line-height: 29px;
  margin-bottom: 30px;
}

.testimonials__author-name {
  color: @black;
  font-weight: 700;
}

.testimonials__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  border: 1px solid @grey-light;
  margin-bottom: 38px;
}

.testimonials__prev,
.testimonials__next {
  width: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 12px 0 9px 0;
  margin: 0;
}

.testimonials__prev {
  border-right: 1px solid @grey-light;
}

.testimonials__prev:hover .testimonials__control-arrow,
.testimonials__next:hover .testimonials__control-arrow,
.testimonials__prev:focus .testimonials__control-arrow,
.testimonials__next:focus .testimonials__control-arrow {
  opacity: 0.6;
}

.testimonials__prev:active .testimonials__control-arrow,
.testimonials__next:active .testimonials__control-arrow {
  opacity: 0.3;
}

.testimonials__button {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .testimonials {
    background: url("../img/review@1x.jpg") left top no-repeat;
    min-height: 457px;
    padding-top: 79px;
    padding-bottom: 31px;
    padding-left: @page-bleed-tablet;
    padding-right: @page-bleed-tablet;
    margin-bottom: 68px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .testimonials__title {
    font-size: @h2-size-tablet;
    line-height: @h2-line-height-tablet;
    color: @black;
    margin-bottom: 48px;
  }

  .testimonials__wrapper {
    position: relative;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .testimonials__text {
    margin-bottom: 55px;
  }

  .testimonials__author {
    margin-bottom: 15px;
  }

  .testimonials__author-name {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .testimonials__button {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 175px;
  }

  .testimonials__controls {
    position: absolute;
    bottom: 4px;
    right: 2px;
    max-width: 167px;
    border: 0;
    margin-bottom: 0;
  }

  .testimonials__prev {
    border: 0;
  }
}

@media (min-width: @desktop-width) {
  .testimonials {
    background-position: @page-bleed-desktop top;
    padding-top: 70px;
    padding-left: @page-bleed-desktop;
    padding-right: @page-bleed-desktop;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .testimonials__wrapper {
    padding-left: 175px;
  }

  .testimonials__title {
    font-size: @h2-size-desktop;
    line-height: @h2-line-height-desktop;
  }

  .testimonials__text {
    max-width: 780px;
    margin-bottom: 37px;
  }

  .testimonials__author-name {
    font-size: 17px;
  }

  .testimonials__button {
    top: 9px;
  }
}
